<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>歌单后台管理</title>

</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
<link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
<link rel="stylesheet" href="../../static/css/slidebar.css" th:href="@{/css/slidebar.css}">
<script type="text/javascript" src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<!--      <script type="text/javascript" src="../static/js/usermange.js" th:src="@{/js/usermange.js}></script>-->
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <br>
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">音乐后台管理系统</h2>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">
                        五只熊
                    </div>
                    <i class="dropdown icon"></i>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</nav>
<!--横杠-->
<div class="ui attached pointing menu"></div>

<div class="left" style="float:left;_margin-right:-3px;padding: 0px">
    <div class="nav">
        <h2>用户管理</h2>
        <ul>
            <li><a href="#" th:href="@{/admin/SuperUserManager}">超级管理</a></li>
        </ul>
        <h2>设备管理</h2>
        <ul>
            <li><a href="#" th:href="@{/admin/SuperPhoneManage}">手机端设备</a></li>
            <li><a href="#" th:href="@{/admin/SuperLinuxManage}">广告管理端设备</a></li>
        </ul>
        <h2>音乐管理</h2>
        <ul>
            <li><a href="#" th:href="@{/admin/SuperMusicManage}">歌单</a></li>
        </ul>
    </div>
</div>

<div class="right">
    <!--中间内容-->
    <div  class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <div class="ui secondary segment form">
                <input type="hidden" name="page" >
                <div class="inline fields">
                    <div class="field">
                        <input type="text" name="musicname" placeholder="歌曲名称">
                    </div>
                    <div style="margin-right: 90px" class="field">
                        <button  type="button" id="search-btn" class="ui teal basic button"><i class="search icon"></i>搜索</button>
                    </div>
                </div>

            </div>
            <div id="table-container">
                <table th:fragment="SuperMusicManageList" class="ui compact teal table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>歌曲名称</th>
                        <th>歌曲简介</th>
                        <th>歌手</th>
                        <th>更新时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="music,iterStat : ${page.content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${music.musicname}">刻意</td>
                        <td th:text="${music.info}">认知升级</td>
                        <td th:text="${music.singer}">ggjfohi地址</td>
                        <td th:text="${music.updatetime}">升级</td>
                        <td th:text="${music.musicstaus}">ggj</td>
                        <td>
                            <a href="#" th:href="@{/admin/SuperMusicManage/{id}/input(id=${music.id})}" class="ui blue basic button">发送</a>
                            <a href="#" th:href="@{/admin/SuperMusicManage/{id}/input(id=${music.id})}" class="ui teal basic button">编辑</a>
                            <a href="#" th:href="@{/admin/SuperMusicManage/{id}/delete(id=${music.id})}" class="ui red basic button">删除</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="7">
                            <a href="#" th:href="@{/admin/SuperMusicManage/input}" class="ui right floated teal basic button">新增</a>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
    <br>
    <br>
</div>
<script type="text/javascript" src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script>
    $(function(){
        $('.nav h2').on('click', function(){
            // $(this).next('ul').toggle();
            $(this).next('ul').slideToggle();
        });
    });
    $("#search-btn").click(function () {
        loaddata();
    });
    function loaddata() {
        $("#table-container").load("/admin/SuperMusicManage/search",{
            musicname : $("[name='musicname']").val()
        });
    }

</script>
</body>
</html>
